<a href="https://colab.research.google.com/github/iesous-kurios/adventofcode2020/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv('/content/input2.csv', header=None)

In [2]:
df[['nums', 'letter', 'code']] = df[0].str.split(expand=True)

In [3]:
df.head()

                         0   nums letter            code
0  13-14 f: ffffffffnfffvv  13-14     f:  ffffffffnfffvv
1  10-12 w: kwtzpnzspwwwdz  10-12     w:  kwtzpnzspwwwdz
2              2-3 n: nnjn    2-3     n:            nnjn
3              2-3 h: hhhh    2-3     h:            hhhh
4   2-11 c: crccccccccsccc   2-11     c:  crccccccccsccc

In [4]:
df[['low', 'high']] = df['nums'].str.split('-', expand=True)

In [5]:
df.head()

                         0   nums letter            code low high
0  13-14 f: ffffffffnfffvv  13-14     f:  ffffffffnfffvv  13   14
1  10-12 w: kwtzpnzspwwwdz  10-12     w:  kwtzpnzspwwwdz  10   12
2              2-3 n: nnjn    2-3     n:            nnjn   2    3
3              2-3 h: hhhh    2-3     h:            hhhh   2    3
4   2-11 c: crccccccccsccc   2-11     c:  crccccccccsccc   2   11

In [6]:
df['letter2'] = 1

In [7]:
for i in range(0, len(df['letter'])):
    df['letter2'][i] = df['letter'][i][0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [8]:
df.head()

                         0   nums letter            code low high letter2
0  13-14 f: ffffffffnfffvv  13-14     f:  ffffffffnfffvv  13   14       f
1  10-12 w: kwtzpnzspwwwdz  10-12     w:  kwtzpnzspwwwdz  10   12       w
2              2-3 n: nnjn    2-3     n:            nnjn   2    3       n
3              2-3 h: hhhh    2-3     h:            hhhh   2    3       h
4   2-11 c: crccccccccsccc   2-11     c:  crccccccccsccc   2   11       c

In [9]:
df['count'] = 1

In [10]:
for i in range(0, len(df['code'])):
    df['count'][i] = df['code'][i].count(df['letter2'][i])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
df.head()

                         0   nums letter  ... high letter2 count
0  13-14 f: ffffffffnfffvv  13-14     f:  ...   14       f    11
1  10-12 w: kwtzpnzspwwwdz  10-12     w:  ...   12       w     4
2              2-3 n: nnjn    2-3     n:  ...    3       n     3
3              2-3 h: hhhh    2-3     h:  ...    3       h     4
4   2-11 c: crccccccccsccc   2-11     c:  ...   11       c    12

[5 rows x 8 columns]

In [12]:
df['low'] = df['low'].astype('int32')
df['high'] = df['high'].astype('int32')
df['count'] = df['count'].astype('int32')

In [13]:
count =0
for i in range(0, len(df['low'])):
    if (df['code'][i][df['low'][i]-1] == df['letter2'][i]) == True:
        if (df['code'][i][df['high'][i]-1] == df['letter2'][i]) == False:
            count += 1
        else:
            pass
    elif (df['code'][i][df['high'][i]-1] == df['letter2'][i]) == True:
        if (df['code'][i][df['low'][i]-1] == df['letter2'][i]) == False:
            count += 1
        else:
            pass

In [14]:
count

404